/* ToDo.module.scss */
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

.todoContainerMain {
  display: flex;
  justify-content: center;
}

.todoContainer {
  background-color: #efc97f;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 20px;
  width: 500px;
  height: 400px;
  padding-left: 4rem;
  padding-right: 4rem;
  text-align: center;
  position: relative;
}

.todoHeader {
  font-family: 'Indie Flower', cursive;
  font-size: 2rem;
  text-decoration: underline;
}

.todoList {
  list-style-type: none;
  padding: 0;
}

.todoItem {
  font-size: 1rem;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 2rem;
  font-family: 'Inter', sans-serif;
}

.deleteButton,
.addButton {
  background-color: #ffffff00;
  border: 1px solid black;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-right: 1rem;
}
.addButtonDiv{
    position: absolute;
    bottom: 4rem;
    right: 3.8rem;
}

.deleteAllButton {
  position: absolute;
  bottom: 0;
}

.opret {
  
  bottom: 4rem;
  right: 4rem;
  font-family: inter;

}

.inputContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
 
}
.todoContainer::before {
    content: "";
    position: absolute;
    top: 7.5rem;
    bottom: 6rem;
    left: 75%;
    border-left: 1px solid black;
    transform: translateX(-50%);
  }
  input{
  
    display: flex;
    margin-bottom: 1rem;
    margin-right: 40rem;
  }