.ItemContainer {
    text-align: center;
    margin-bottom: 1rem;
  
    img {
      width: 100%;
      height: 350px;
    }
  
    h3 {
        margin-top: 0;
      margin-bottom: 1.8rem;
      height: 40px;
    }
  
    button {
      background-color: #D1B3A7;
      color: #fff;
      padding: 0.5rem;
      border-radius: 5px;
      border: darkgrey 1px solid;
      cursor: pointer;
  
    }
  
    // Styling for Link
    button > a {
      color: #fff;
      text-decoration: none;
  

    }
  }