@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&family=Titillium+Web:wght@200;400;700;900&display=swap');
.navWrapper {

  

  ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none; /* Fjern prikker */

    li {
      margin-right: 15px; /* Juster margen mellem menu punkter efter behov */
      
      &:last-child {
        margin-right: 1rem; /* Fjern margen fra det sidste element */
      }

      .NavLink {
        font-family: 'Titillium Web', sans-serif;
        font-weight: 400;
        color: rgb(22, 21, 21);
        text-decoration: none; /* Fjern understregning */
       
        font-size: 0.8rem; /* Juster skriftstørrelsen efter behov */
      
        &:hover {
          text-decoration: underline; /* Vis understregning ved hover */
        }


      }
    }
  }
}


