// pageContainer.scss
.page-container {
    background-color: #F9F9F9; /* Brun baggrundsfarve */
    width: 1067px; /* Bredde på 1067px */
    margin: 0 auto; /* Centrer indholdet */
    padding: 20px; /* Juster padding efter behov */
  
  }
  