@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&family=Titillium+Web:wght@200;400;700;900&display=swap');

body {
 background-color: #5C1F06;
 font-family: 'Open Sans', sans-serif;
 font-family: 'Titillium Web', sans-serif;
    margin: 0;
    h3{
      color: #524641;
    }
    
  }
  button {
    margin-top: 0.5rem;
  background-color: #d1b3a7;
  color: #fff;
  padding: 0.5rem;
  border-radius: 5px;
  border: darkgrey 1px solid;
  width: 60px;
  cursor: pointer;

  &:hover {
    background-color: #d97852;
  }
    }
  
